@media screen and (max-width:700px) {     /*aplica até a tela estar em 700px, depois vai para a regra padão*/
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 50%;
    }
}